#root {
  max-width: 100%;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation a {
  color: #f7f9fa;
  margin: 20px;

}

.navigation a:hover {
  color: #0bc3e8;
  transform: scale(1.2);
  text-shadow: none;
}

.active {
  color: #0bc3e8 !important;
  transform: scale(1.2);
  text-shadow: none;
  padding: 3px;
  border: 1px;
  border-radius: 10px;
}